* {box-sizing: border-box;}



body { background: lightblue;
  max-width: 700px;
  text-align: center;
  margin: auto;

}

h1 {
  display: inline-flex;
}
img.profilePic {
  width: 60%;
  height: 90%;
  padding: 20px;
  margin-right: 100px;
  }

div.headInfo {
  font-size: 30px;
  width: 60%;
  height: 70%;
  color: rgb(3, 0, 82);
  font-style: bold;
  text-align: center;
}

nav { display: inline-block;
background-color: aquamarine;
color: white;
font-style: italic;
font-style: bold;
}

a {
padding: 30px;}

p1 { outline-style: groove;
  margin-left:auto;
  margin-right: auto;
  font-family:sans-serif;
  text-align: center;
}

.lastImg { display : block;
margin-left: auto;
margin-right: auto;
}

.sidebar { height: 600px;
width: 200px;
top: 0;
right: 0;
position: fixed;
background-color: red;
padding-left: 40px;
}

.sidebar2 { height: 600px;
width: 200px;
top: 0;
left: 0;
position: fixed;
background-image: url("whiteArrowBottomSidebar.png");
background-size: 100% 100%;
padding-right: 40px;
}
